body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}

.map {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-list {
  display: grid;
  margin: 5vw 5vw 2vw 5vw;
  padding-left: 50px;
  padding-right: 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 50vh;
}

.chart-content {
  margin: 0 5vw 0 5vw;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 2vh 0 2vh 0;
}

.timeline-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}

.timeline-header h1 { 
  letter-spacing: 4px;
}
