body {
  font-family: serif;
  color: white;
  background-color: black;
}

/* Intoduction Page */

.met-title-container {
  height: 100vh;
}

.met-title{
  font-family: serif;
  margin-top: 20vh;
  text-align: center;
  font-weight: bold;
}

.met-intro{
  width: 40vw;
  height: 40vh;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  color: white;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btns-container{
  height: 15vh;
  width: 40vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}

.btns-container button{
  margin: 0 2px 0 2px;
  padding: 15px 32px;
  width: 13vw;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background: none;
}

.select-map{
  border: 1px solid deeppink;
  color: deeppink;
}

.select-map:hover {
  color: white;
  background-color: deeppink;
  transition: 0.5s;
}

.select-timeline{
  border: 1px solid lightseagreen;
  color: lightseagreen;
}

.select-timeline:hover {
  color: white;
  background-color: lightseagreen;
  transition: 0.5s;
}

.select-mode{
  border: 1px solid coral;
  color: coral
}

.select-mode:hover {
  color: white;
  background-color: coral;
  transition: 0.5s;
}

/* MAP */
.map-container{
  height: 100vh;
  width: 100vw;
}

.map-title {
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-title h2 {
  letter-spacing: 2px;
}

.map-content {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.met-map {
  /* border: 1px solid blue; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Timeline */
.chart-list {
  display: grid;
  margin: 5vw 5vw 2vw 5vw;
  padding-left: 50px;
  padding-right: 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 50vh;
}

.chart-content {
  margin: 0 5vw 0 5vw;
  background-color: black;
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 2vh 0 2vh 0;
}

.timeline-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}

.timeline-header h1 {
  letter-spacing: 4px;
}

.tooltip {	
  position: absolute;			
  text-align: center;			
  width: auto;					
  height: auto;					
  padding: 10px;				
  font: 12px sans-serif;		
  background-color: rgba(255, 255, 255, 0.8);	
  border: none;		
  border-radius: 8px;			
  pointer-events: none;	
  color: black;		
  display: none;
}

.tooltip h5, b {
  color: black;
}

/* SPIRAL */
.spiral-title {
  height: 20vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiral-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 80vh;
  width: 90vw;
  text-align: center;
  margin-bottom: 10px;
  margin: 0 5vw 0 5vw;
}

.spiral {
  width: 60vw;
  height: 80vh;
}

.spiral-description {
  height: 80vh;
  width: 40vw;
  padding: 0 2vw 0 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dynasty-selector {
  width: 100%;
}

.dynasty-selector option {
  text-align: center;
}

#spiral-chart .tooltip div{
  color: black;
}