body {
  font-family: Montserrat,serif;
  /* color: black; */
  background-color: white;
  /* position: relative; */
}


.info-btn {
    border: 3px solid #185bc7;
    padding: 0;
    text-decoration: none;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 10px;
    font-weight: bold;
}

/* Intoduction Page */

#the-met {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.met-title-container {
  /* height: 100vh; */
  left: 0;
  top: 0;
  z-index: 2;
}

.met-title{
  height: 30vh;
  font-family: Montserrat,serif;
  margin: 0 auto;
  /* margin-top: 20vh; */
  text-align: center;
  font-weight: bold;
  position: absolute;
  margin-top: 100px;
  top: 0;
  z-index: 2;
}

.met-intro{
  width: 50vw;
  height: 60vh;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  color: black;
  /* border: 1px solid red; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;

  position: absolute;
  margin-top: 180px;
  /* left: 25%; */
  top: 0;
  z-index: 2;
}

.btns-container{
  height: 100%;
  /* width: 20%; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
  margin-left: 50px;
  /* background-color: white; */
  /* border: 1px solid red; */


  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}

.btns-container button{
  width:2.5vw;
  margin: 0 2px 0 2px;
  padding: 2px 10px;
  /* width: 13vw; */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* border-radius: 0; */
  background: white;
  z-index: 20;
  outline: none;
}

/* 0 */
#select-home{
  margin-top: 180px;
  border:1px solid black;
  color: black;
}

#select-home:hover {
  color: white;
  background-color: black;
  transition: 0.5s;

}

.select-0{
  position: relative;
  display: inline-block;
}

.select-0 .tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: 120px;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 20;
  bottom: 0;
  /* left: 50%; */
  margin-left: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.select-0 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.select-0:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 1 */
#select-map{
  border: 1px solid black;
  color: black;
  /* margin-left: 50px; */
}

#select-map:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
  /* text-decoration: underline; */
  /* border-bottom: 2px solid; */

}

.select-1{
  position: relative;
  display: inline-block;
}

.select-1 .tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: 120px;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 20;
  bottom: 0;
  /* left: 50%; */
  margin-left: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.select-1 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.select-1:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 2 */
#select-dynasty{
  border:1px solid black;
  color: black;
  /* margin-right: 100px; */
}

#select-dynasty:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
  /* border-bottom: 2px solid; */
  z-index: 2;
}

.select-2{
  position: relative;
  display: inline-block;
}

.select-2 .tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: 120px;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 20;
  bottom: 0;
  /* left: 50%; */
  margin-left: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.select-2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.select-2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 3 */
#select-medium{
  border:1px solid black;
  color: black;
  /* margin-right: 100px; */
}

#select-medium:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
  /* border-bottom: 2px solid; */
  z-index: 2;
}

.select-3{
  position: relative;
  display: inline-block;
}

.select-3 .tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: 120px;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 20;
  bottom: 0;
  /* left: 50%; */
  margin-left: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.select-3 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.select-3:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 4 */
#select-timeline{
  margin-bottom: 150px;
  border:1px solid black;
  color: black;
}

#select-timeline:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
  /* border-bottom: 2px solid; */

}

.select-4{
  position: relative;
  display: inline-block;
}

.select-4 .tooltiptext {
  visibility: hidden;
  display: inline-block;
  width: 150px;
  color: black;
  text-align: left;
  position: absolute;
  z-index: 20;
  bottom: 0;
  /* left: 50%; */
  margin-left: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.select-4 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.select-4:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}




.section-title{
  /* height: 20vh; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  z-index: 2;
}

.section-subtitle{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  z-index: 2;
}

.section-description{
  /* width:50vw; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  z-index: 2;
}
.section-description p {
    width: 50vw;
    
}

/* MAP */
.map-container{
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map-container h3{
  margin-top: 30px;
  margin-bottom: 40px;
}

/* .map-title h2 {
  letter-spacing: 2px;
  z-index: 2;
} */

.map-content {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.met-map {
  /* border: 1px solid blue; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: 2;
}

/* Time Spiral */
.spiral-container{
  width: 100vw;
  /* height: 100vh; */
  z-index: 2;
}

.spiral-container h3{
  margin-top: 30px;
  /* margin-bottom: 20px; */
}

/* Timeline */
.timeline-container{
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  z-index: 2;
}

.timeline-container h3{
  margin-top: 30px;
  margin-bottom: 40px;
}

.chart-list {
  width: 80vw;
  display: grid;
  /* margin: 5vw 5vw 2vw 5vw; */
  padding-left: 50px;
  padding-right: 30px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 50vh;
  z-index: 2;
}

.chart-content {
  margin: 0 5vw 0 5vw;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 2vh 0 2vh 0;
  z-index: 2;
}

.timeline-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
  z-index: 2;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px;
  font: 12px sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 8px;
  color: white;
  display: block;
  z-index: 10;
}

.tooltip h5, b {
  color: white;
}

/* SPIRAL */
.spiral-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* height: 80vh; */
  width: 90vw;
  text-align: center;
  margin-bottom: 10px;
  margin: 0 5vw 0 5vw;
  z-index: 2;
}

.spiral {
  width: 65vw;
  height: 600px;
  z-index: 2;
}

.spiral-description {
  height: 80vh;
  width: 35vw;
  padding: 0 2vw 0 2vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.spiral-description p{
  text-align: left;
}

#dynasty-selector {
  width: 100%;
  z-index: 2;
}

#dynasty-selector option {
  text-align: center;
  z-index: 2;
}

#spiral-chart .tooltip div{
  color: black;
  z-index: 2;
}


/* CLASSIFICATION */
.classification-container{
  width: 100vw;
  /* height: 100vh; */
  z-index: 2;
  text-align: center;;
}

.classification-container h3{
  margin-top: 30px;
  margin-bottom: 40px;
}

/* .classification-description{
  
  z-index: 2;
} */

/* .classification-description h4{
  text-align: center;
} */

.classification {
  margin: 0 auto;
    width: 80vw;
    height: 600px;
    z-index: 2;
}
