

.bar-artists {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1vh;
  margin-bottom: 3vh;
}

.bar-artists .bar-artist-icon {
  border: 1px solid red;
  width: 15vw;
  height: 100%;
  margin: 1vh;
  border-radius: 5px;
  margin-bottom: 5vh;
}

.bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 20vh;
}

.bar-graph {
  height: 40vh;
}

.bar-column {
  width: 40vw;
  height: 40vh;
  display: none;
  padding: 2vh 2vh 2vh 4vh;
}

.bar-column .art-title {
  font-size: 2rem;
  line-height: 2.1rem;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.bar-hovered-img {
  width: 40vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#bar-img {
  display: none;
  height: 100%;
}